<html lang='en'>

    <head>
    </head>

    <body>
        <h2>About Us</h2>
        <p>Bloccit is a Reddit inspired forum designed to make the world a more social and connected place.</p>

    </body>

</html> 